<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MediaPlayer</display-name>
  <welcome-file-list>
    <welcome-file>media_upload.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadMediaService</servlet-name>
    <servlet-class>com.webapp.service.UploadMediaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMediaService</servlet-name>
    <url-pattern>/uploadFile.jsp</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.webapp.service.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ShowMediaList</servlet-name>
    <servlet-class>com.webapp.service.ShowMediaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMediaList</servlet-name>
    <url-pattern>/queryAll.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayMediaService</servlet-name>
    <servlet-class>com.webapp.service.PlayMediaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMediaService</servlet-name>
    <url-pattern>/play.action</url-pattern>
  </servlet-mapping>
</web-app>